POSTGRES_PASSWORD=change-this-database-password
MIGRATION_DB_PASSWORD=change-this-migration-database-password
APP_DB_PASSWORD=change-this-application-database-password
MIGRATION_DATABASE_URL=postgresql://zw_migrator:change-this-migration-database-password@postgres:5432/zw_website
DATABASE_URL=postgresql://zw_app:change-this-application-database-password@postgres:5432/zw_website
ADMIN_PASSWORD=123qweAsd123!
ADMIN_SESSION_SECRET=k8T#s2P&r7G!a5Q$d9F^z3X_c6V-b4N*m7J0hY
IP_HASH_SECRET=generate-another-random-secret
WECHAT_APP_ID=
WECHAT_APP_SECRET=
WECHAT_SYNC_TOKEN=
NEXT_PUBLIC_SITE_URL=http://192.168.1.12:3000
